body {
    font-family: sans-serif;
    background-color: black;
    color: white;
    margin: 0;


}

header {
    
}

.button {
    
}

nav {
    display: flex;
    justify-content: center;
     position: fixed;
    left: 760px;
    
    
    
}

.nav-link {
    text-decoration: none;
    color: blue;
    text-align: left;
    font-size: 25px;
     margin-right: 40px;
    
}

h1 {
    color: rgb(0, 72, 255);
    text-align: center;

}

p {
    font-size: 20px;
}

.info {
   background-image:linear-gradient(to bottom ,darkblue ,rgba(255, 255, 0, 0.786) ) ;
}

article {
    color: yellow;
    display: flex;   
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.article-but {
    
}

footer {
    display: flex;
    justify-content: center;
   
}

footer a {
    
}

footer p {
}
header img{
    width: 400px; 
    height: 200px;
    
}
.i{
    display: flex;
    justify-content: center;
}
.b {
    margin: 30px;
    width: 500px;
    height: 250px;
   
}
.c{
    display: flex;
    flex-direction: column;
    margin: 50px;
    
}
footer img{
    margin: 10px;
    
    
}
.f{
    display: flex;
    flex-direction: column;
    margin: 50px;

    

}
.p{
    display: flex;
    flex-direction: column;
    margin: 50px;
}
